/* Banner */

#banner {
    height: 125px;
    background: url("../images/blog/banner.jpg"), no-repeat;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Blog entry header */

#entry-header {
    padding: 40px 40px;
    height: 60px;
}

#entry-header h1 {
    float: left;
    margin: 0px 15px;
    font-family: sans-serif;
}

#entry-nav {
    float: left;
    width: 81px;
}

#entry-nav p {
    float: left;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    margin: 0px;
}

#entry-nav img {
    float: left;
    width: 40px;
    height: 40px;
}

/* Body elements */

#body-content {
    width: 1000px;
    margin: 30px auto;
    background-color: #FFF;
}

#entry-body {
    margin: 0px;
    padding: 40px 40px;
}

#entry-body p {
    margin: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#volunteer-image {
    width: 800px;
    height: 435px;
    margin: 30px auto;
}