/* Basic elements */

body {
  background-color: #7800FF;
  margin: 0px;
}

/* Header elements */

#header {
  background: linear-gradient(#7800FF, #5400B2)
}

#header-content {
  width: 1000px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
}

#header-content a {
  text-decoration: none;
  color: #FFF;
}

#header-title {
  padding-top: 10px;
  float: left;
}

#header-title h1 {
  margin: 0px;
  float: left;
}

#header-title p {
  margin: 0px 0px 0px 20px;
  float: left;
}

#header-nav {
  margin: 0px;
  float: left;
}

#header-nav li {
  padding: 20px 30px;
  float: left;
  display: block;
}

#header-nav li a {
  font-size: 15px;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
}

