/* Basic elements */

body {
  background-color: #7800FF;
  margin: 0px;
}

p {
  font-family: 'Arial', Arial, Helvetica, sans-serif;
}

/* Header elements */

#header {
  background: linear-gradient(#7800FF, #5400B2);
}

#header-content {
  width: 1000px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
}

#header-content a {
  text-decoration: none;
  color: #FFF;
}

#header-logo {
  margin-top: 5px;
  float: left;
  height: 50px;
}

#header-title {
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}

#header-title h2 {
  margin: 0;
  float: left;
  font-family: 'Lobster', Times;
}

#header-title p {
  margin: 0;
  float: left;
  clear: left;
}

#header-nav {
  margin: 0px;
}

#header-nav li {
  padding: 20px 30px;
  float: left;
  display: block;
}

#header-nav li a {
  font-size: 15px;
	font-family: 'Patua One', Times;
	text-transform: uppercase;
}

#header-nav li a:hover {
  text-decoration: underline;
}

#header-cannon {
  float: right;
  margin-top: 5px;
}

#header-cannon a {
  float: right;
}

#header-cannon img {
  width: 49px;
  height: 30px;
}

#header-cannon p {
  font-size: 11px;
  margin: 0;
}

/* Footer elements */

#footer {
  background: linear-gradient(#5400B2, #7800FF);
}

#footer-content {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

#footer-content p {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

