/* "Welcome" div */

#welcome-container {
  text-align: center;
  width: 100%;
  padding: 50px 0px;
  background-color: lightblue;
}

#welcome-text {
    margin: 0px;
}

/* Page portal */

#portal-container {
    height: 499px;
}

a.portal {
    transition: background-size 0.2s ease;
    background-position: center;
    width: 50%;
    height: 100%;
    text-align: center;
    color: black;
}

.portal-text {
    margin-top: 220px;
    font-size: 35px;
}

#catalogue-portal {
    float: left;
    background-color: lightgreen;
    background-image: url("../images/index/clothes.png");
    background-size: 130%;
}

#catalogue-portal:hover {
    background-size: 150%;
}

#blog-portal {
    float: right;
    background-color: yellow;
    background-image: url("../images/index/blog.png");
    background-size: 200%;
}

#blog-portal:hover {
    background-size: 250%;
}
