#banner {
    width: 100%;
    height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%), url("../images/index/banner.jpg"), no-repeat;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#banner-content {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

#banner-content p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
    color: white;
}
