/* "Welcome" div */

#welcome-container {
  text-align: center;
  width: 100%;
  padding: 75px 0px;
  background-color: lightblue;
}

#welcome-text {
    margin: 0px;
}

/* Page portal */

#portal-container {
    height: 470px;
}

a.portal {
    width: 50%;
    height: 100%;
    text-align: center;
}

.portal-text {
    margin-top: 220px;
    font-size: 35px;
}

#catalog-portal {
    float: left;
    background-color: lightgreen;
}

#blog-portal {
    float: right;
    background-color: yellow;
    background-image: url("../images/index/blog.png");
    background-size: 200%;
}
